.lter {
  background-color: rgba(255, 255, 255, 0.035) !important; }

.dker {
  background-color: rgba(0, 0, 0, 0.035) !important; }

.light {
  background-color: #f8f8f8 !important; }

.white {
  background-color: #fff !important; }

.dark-white {
  color: rgba(0, 0, 0, 0.87) !important;
  background-color: #fff !important; }

.black {
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #2a2b3c !important; }
  .black .lt {
    background-color: #2f3044 !important; }
  .black .dk {
    background-color: #252635 !important; }
  .black .bg {
    background-color: #2a2b3c !important; }

.dark {
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #2e3e4e !important; }
  .dark .lt {
    background-color: #334456 !important; }
  .dark .dk {
    background-color: #293846 !important; }
  .dark .bg {
    background-color: #2e3e4e !important; }

.grey {
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #424242 !important; }
  .grey .lt {
    background-color: #484848 !important; }
  .grey .dk {
    background-color: #3c3c3c !important; }
  .grey .bg {
    background-color: #424242 !important; }

.primary {
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #0cc2aa !important; }
  .primary .lt {
    background-color: #0dceb5 !important; }
  .primary .dk {
    background-color: #0bb69f !important; }
  .primary .bg {
    background-color: #0cc2aa !important; }

.accent {
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #a88add !important; }
  .accent .lt {
    background-color: #af94e0 !important; }
  .accent .dk {
    background-color: #a180da !important; }
  .accent .bg {
    background-color: #a88add !important; }

.warn {
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #fcc100 !important; }
  .warn .lt {
    background-color: #ffc60a !important; }
  .warn .dk {
    background-color: #efb700 !important; }
  .warn .bg {
    background-color: #fcc100 !important; }

.success {
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #6cc788 !important; }
  .success .lt {
    background-color: #75cb8f !important; }
  .success .dk {
    background-color: #63c381 !important; }
  .success .bg {
    background-color: #6cc788 !important; }

.info {
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #6887ff !important; }
  .info .lt {
    background-color: #7591ff !important; }
  .info .dk {
    background-color: #5b7dff !important; }
  .info .bg {
    background-color: #6887ff !important; }

.warning {
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #f77a99 !important; }
  .warning .lt {
    background-color: #f886a2 !important; }
  .warning .dk {
    background-color: #f66e90 !important; }
  .warning .bg {
    background-color: #f77a99 !important; }

.danger {
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #f44455 !important; }
  .danger .lt {
    background-color: #f55060 !important; }
  .danger .dk {
    background-color: #f3384a !important; }
  .danger .bg {
    background-color: #f44455 !important; }

.blue {
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #2196f3 !important; }
  .blue .lt {
    background-color: #2d9cf4 !important; }
  .blue .dk {
    background-color: #1590f2 !important; }
  .blue .bg {
    background-color: #2196f3 !important; }
.red {
  background-color: #f44336 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.red-50 {
  background-color: #ffebee !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.red-100 {
  background-color: #ffcdd2 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.red-200 {
  background-color: #ef9a9a !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.red-300 {
  background-color: #e57373 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.red-400 {
  background-color: #ef5350 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.red-500 {
  background-color: #f44336 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.red-600 {
  background-color: #e53935 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.red-700 {
  background-color: #d32f2f !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.red-800 {
  background-color: #c62828 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.red-900 {
  background-color: #b71c1c !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.red-A100 {
  background-color: #ff8a80 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.red-A200 {
  background-color: #ff5252 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.red-A400 {
  background-color: #ff1744 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.red-A700 {
  background-color: #d50000 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.pink {
  background-color: #e91e63 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.pink-50 {
  background-color: #fce4ec !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.pink-100 {
  background-color: #f8bbd0 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.pink-200 {
  background-color: #f48fb1 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.pink-300 {
  background-color: #f06292 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.pink-400 {
  background-color: #ec407a !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.pink-500 {
  background-color: #e91e63 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.pink-600 {
  background-color: #d81b60 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.pink-700 {
  background-color: #c2185b !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.pink-800 {
  background-color: #ad1457 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.pink-900 {
  background-color: #880e4f !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.pink-A100 {
  background-color: #ff80ab !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.pink-A200 {
  background-color: #ff4081 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.pink-A400 {
  background-color: #f50057 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.pink-A700 {
  background-color: #c51162 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.purple {
  background-color: #9c27b0 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.purple-50 {
  background-color: #f3e5f5 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.purple-100 {
  background-color: #e1bee7 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.purple-200 {
  background-color: #ce93d8 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.purple-300 {
  background-color: #ba68c8 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.purple-400 {
  background-color: #ab47bc !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.purple-500 {
  background-color: #9c27b0 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.purple-600 {
  background-color: #8e24aa !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.purple-700 {
  background-color: #7b1fa2 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.purple-800 {
  background-color: #6a1b9a !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.purple-900 {
  background-color: #4a148c !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.purple-A100 {
  background-color: #ea80fc !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.purple-A200 {
  background-color: #e040fb !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.purple-A400 {
  background-color: #d500f9 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.purple-A700 {
  background-color: #aa00ff !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-purple {
  background-color: #673ab7 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-purple-50 {
  background-color: #ede7f6 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.deep-purple-100 {
  background-color: #d1c4e9 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.deep-purple-200 {
  background-color: #b39ddb !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.deep-purple-300 {
  background-color: #9575cd !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-purple-400 {
  background-color: #7e57c2 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-purple-500 {
  background-color: #673ab7 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-purple-600 {
  background-color: #5e35b1 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-purple-700 {
  background-color: #512da8 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-purple-800 {
  background-color: #4527a0 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-purple-900 {
  background-color: #311b92 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-purple-A100 {
  background-color: #b388ff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.deep-purple-A200 {
  background-color: #7c4dff !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-purple-A400 {
  background-color: #651fff !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-purple-A700 {
  background-color: #6200ea !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.indigo {
  background-color: #3f51b5 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.indigo-50 {
  background-color: #e8eaf6 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.indigo-100 {
  background-color: #c5cae9 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.indigo-200 {
  background-color: #9fa8da !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.indigo-300 {
  background-color: #7986cb !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.indigo-400 {
  background-color: #5c6bc0 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.indigo-500 {
  background-color: #3f51b5 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.indigo-600 {
  background-color: #3949ab !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.indigo-700 {
  background-color: #303f9f !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.indigo-800 {
  background-color: #283593 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.indigo-900 {
  background-color: #1a237e !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.indigo-A100 {
  background-color: #8c9eff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.indigo-A200 {
  background-color: #536dfe !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.indigo-A400 {
  background-color: #3d5afe !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.indigo-A700 {
  background-color: #304ffe !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.blue {
  background-color: #2196f3 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.blue-50 {
  background-color: #e3f2fd !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.blue-100 {
  background-color: #bbdefb !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.blue-200 {
  background-color: #90caf9 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.blue-300 {
  background-color: #64b5f6 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.blue-400 {
  background-color: #42a5f5 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.blue-500 {
  background-color: #2196f3 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.blue-600 {
  background-color: #1e88e5 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.blue-700 {
  background-color: #1976d2 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.blue-800 {
  background-color: #1565c0 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.blue-900 {
  background-color: #0d47a1 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.blue-A100 {
  background-color: #82b1ff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.blue-A200 {
  background-color: #448aff !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.blue-A400 {
  background-color: #2979ff !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.blue-A700 {
  background-color: #2962ff !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.light-blue {
  background-color: #03a9f4 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.light-blue-50 {
  background-color: #e1f5fe !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-blue-100 {
  background-color: #b3e5fc !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-blue-200 {
  background-color: #81d4fa !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-blue-300 {
  background-color: #4fc3f7 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-blue-400 {
  background-color: #29b6f6 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-blue-500 {
  background-color: #03a9f4 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.light-blue-600 {
  background-color: #039be5 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.light-blue-700 {
  background-color: #0288d1 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.light-blue-800 {
  background-color: #0277bd !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.light-blue-900 {
  background-color: #01579b !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.light-blue-A100 {
  background-color: #80d8ff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-blue-A200 {
  background-color: #40c4ff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-blue-A400 {
  background-color: #00b0ff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-blue-A700 {
  background-color: #0091ea !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.cyan {
  background-color: #00bcd4 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.cyan-50 {
  background-color: #e0f7fa !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.cyan-100 {
  background-color: #b2ebf2 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.cyan-200 {
  background-color: #80deea !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.cyan-300 {
  background-color: #4dd0e1 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.cyan-400 {
  background-color: #26c6da !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.cyan-500 {
  background-color: #00bcd4 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.cyan-600 {
  background-color: #00acc1 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.cyan-700 {
  background-color: #0097a7 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.cyan-800 {
  background-color: #00838f !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.cyan-900 {
  background-color: #006064 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.cyan-A100 {
  background-color: #84ffff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.cyan-A200 {
  background-color: #18ffff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.cyan-A400 {
  background-color: #00e5ff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.cyan-A700 {
  background-color: #00b8d4 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.teal {
  background-color: #009688 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.teal-50 {
  background-color: #e0f2f1 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.teal-100 {
  background-color: #b2dfdb !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.teal-200 {
  background-color: #80cbc4 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.teal-300 {
  background-color: #4db6ac !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.teal-400 {
  background-color: #26a69a !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.teal-500 {
  background-color: #009688 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.teal-600 {
  background-color: #00897b !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.teal-700 {
  background-color: #00796b !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.teal-800 {
  background-color: #00695c !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.teal-900 {
  background-color: #004d40 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.teal-A100 {
  background-color: #a7ffeb !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.teal-A200 {
  background-color: #64ffda !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.teal-A400 {
  background-color: #1de9b6 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.teal-A700 {
  background-color: #00bfa5 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.green {
  background-color: #4caf50 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.green-50 {
  background-color: #e8f5e9 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.green-100 {
  background-color: #c8e6c9 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.green-200 {
  background-color: #a5d6a7 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.green-300 {
  background-color: #81c784 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.green-400 {
  background-color: #66bb6a !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.green-500 {
  background-color: #4caf50 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.green-600 {
  background-color: #43a047 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.green-700 {
  background-color: #388e3c !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.green-800 {
  background-color: #2e7d32 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.green-900 {
  background-color: #1b5e20 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.green-A100 {
  background-color: #b9f6ca !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.green-A200 {
  background-color: #69f0ae !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.green-A400 {
  background-color: #00e676 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.green-A700 {
  background-color: #00c853 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-green {
  background-color: #8bc34a !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-green-50 {
  background-color: #f1f8e9 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-green-100 {
  background-color: #dcedc8 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-green-200 {
  background-color: #c5e1a5 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-green-300 {
  background-color: #aed581 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-green-400 {
  background-color: #9ccc65 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-green-500 {
  background-color: #8bc34a !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-green-600 {
  background-color: #7cb342 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-green-700 {
  background-color: #689f38 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-green-800 {
  background-color: #558b2f !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.light-green-900 {
  background-color: #33691e !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.light-green-A100 {
  background-color: #ccff90 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-green-A200 {
  background-color: #b2ff59 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-green-A400 {
  background-color: #76ff03 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.light-green-A700 {
  background-color: #64dd17 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.lime {
  background-color: #cddc39 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.lime-50 {
  background-color: #f9fbe7 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.lime-100 {
  background-color: #f0f4c3 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.lime-200 {
  background-color: #e6ee9c !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.lime-300 {
  background-color: #dce775 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.lime-400 {
  background-color: #d4e157 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.lime-500 {
  background-color: #cddc39 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.lime-600 {
  background-color: #c0ca33 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.lime-700 {
  background-color: #afb42b !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.lime-800 {
  background-color: #9e9d24 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.lime-900 {
  background-color: #827717 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.lime-A100 {
  background-color: #f4ff81 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.lime-A200 {
  background-color: #eeff41 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.lime-A400 {
  background-color: #c6ff00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.lime-A700 {
  background-color: #aeea00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.yellow {
  background-color: #ffeb3b !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.yellow-50 {
  background-color: #fffde7 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.yellow-100 {
  background-color: #fff9c4 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.yellow-200 {
  background-color: #fff59d !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.yellow-300 {
  background-color: #fff176 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.yellow-400 {
  background-color: #ffee58 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.yellow-500 {
  background-color: #ffeb3b !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.yellow-600 {
  background-color: #fdd835 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.yellow-700 {
  background-color: #fbc02d !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.yellow-800 {
  background-color: #f9a825 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.yellow-900 {
  background-color: #f57f17 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.yellow-A100 {
  background-color: #ffff8d !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.yellow-A200 {
  background-color: #ffff00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.yellow-A400 {
  background-color: #ffea00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.yellow-A700 {
  background-color: #ffd600 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.amber {
  background-color: #ffc107 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.amber-50 {
  background-color: #fff8e1 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.amber-100 {
  background-color: #ffecb3 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.amber-200 {
  background-color: #ffe082 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.amber-300 {
  background-color: #ffd54f !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.amber-400 {
  background-color: #ffca28 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.amber-500 {
  background-color: #ffc107 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.amber-600 {
  background-color: #ffb300 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.amber-700 {
  background-color: #ffa000 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.amber-800 {
  background-color: #ff8f00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.amber-900 {
  background-color: #ff6f00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.amber-A100 {
  background-color: #ffe57f !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.amber-A200 {
  background-color: #ffd740 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.amber-A400 {
  background-color: #ffc400 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.amber-A700 {
  background-color: #ffab00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.orange {
  background-color: #ff9800 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.orange-50 {
  background-color: #fff3e0 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.orange-100 {
  background-color: #ffe0b2 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.orange-200 {
  background-color: #ffcc80 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.orange-300 {
  background-color: #ffb74d !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.orange-400 {
  background-color: #ffa726 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.orange-500 {
  background-color: #ff9800 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.orange-600 {
  background-color: #fb8c00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.orange-700 {
  background-color: #f57c00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.orange-800 {
  background-color: #ef6c00 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.orange-900 {
  background-color: #e65100 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.orange-A100 {
  background-color: #ffd180 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.orange-A200 {
  background-color: #ffab40 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.orange-A400 {
  background-color: #ff9100 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.orange-A700 {
  background-color: #ff6d00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.deep-orange {
  background-color: #ff5722 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-orange-50 {
  background-color: #fbe9e7 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.deep-orange-100 {
  background-color: #ffccbc !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.deep-orange-200 {
  background-color: #ffab91 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.deep-orange-300 {
  background-color: #ff8a65 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.deep-orange-400 {
  background-color: #ff7043 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.deep-orange-500 {
  background-color: #ff5722 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-orange-600 {
  background-color: #f4511e !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-orange-700 {
  background-color: #e64a19 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-orange-800 {
  background-color: #d84315 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-orange-900 {
  background-color: #bf360c !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-orange-A100 {
  background-color: #ff9e80 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.deep-orange-A200 {
  background-color: #ff6e40 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.deep-orange-A400 {
  background-color: #ff3d00 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.deep-orange-A700 {
  background-color: #dd2c00 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.brown {
  background-color: #795548 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.brown-50 {
  background-color: #efebe9 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.brown-100 {
  background-color: #d7ccc8 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.brown-200 {
  background-color: #bcaaa4 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.brown-300 {
  background-color: #a1887f !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.brown-400 {
  background-color: #8d6e63 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.brown-500 {
  background-color: #795548 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.brown-600 {
  background-color: #6d4c41 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.brown-700 {
  background-color: #5d4037 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.brown-800 {
  background-color: #4e342e !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.brown-900 {
  background-color: #3e2723 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.blue-grey {
  background-color: #607d8b !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.blue-grey-50 {
  background-color: #eceff1 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.blue-grey-100 {
  background-color: #cfd8dc !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.blue-grey-200 {
  background-color: #b0bec5 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.blue-grey-300 {
  background-color: #90a4ae !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.blue-grey-400 {
  background-color: #78909c !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.blue-grey-500 {
  background-color: #607d8b !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.blue-grey-600 {
  background-color: #546e7a !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.blue-grey-700 {
  background-color: #455a64 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.blue-grey-800 {
  background-color: #37474f !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.blue-grey-900 {
  background-color: #263238 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.grey-50 {
  background-color: #fafafa !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.grey-100 {
  background-color: #f5f5f5 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.grey-200 {
  background-color: #eeeeee !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.grey-300 {
  background-color: #e0e0e0 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.grey-400 {
  background-color: #bdbdbd !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.grey-500 {
  background-color: #9e9e9e !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.grey-600 {
  background-color: #757575 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.grey-700 {
  background-color: #616161 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.grey-800 {
  background-color: #424242 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.grey-900 {
  background-color: #212121 !important;
  color: rgba(255, 255, 255, 0.87) !important; }