@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Google Sans'), local('GoogleSans-Regular'), url(300.woff) format('woff');
}
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Google Sans'), local('GoogleSans-Regular'), url(400.woff) format('woff');
}
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Google Sans Bold'), local('GoogleSans-Bold'), url(700.woff) format('woff');
}
